body {
    background-color: rgb(240, 231, 217);
    color: rgb(186, 96, 18);
}

h1, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#gameButtons, #scoreDisplay, .results {
    display: flex;
    text-align: center;
    justify-content: center;
}

#reset {
    display: flex;
    text-align: center;
    justify-content: center;
}

#scoreDisplay {
    padding: 28px;
}

.results{
    padding: 20px;
    font-size: 2rem;
}

#gameButtons #resetButton {
    padding-top: 20px;
}

.buttons {
    margin-right: 5px;
    margin-left: 5px;
}
#scoreDisplay {
    font-size: 2rem;
    
    
}